.hero--intro {
  // min-height: 600px;
	background: radial-gradient(circle, rgba(47, 32, 82, 1) 35%, rgba(25, 16, 41, 1) 100%);
	overflow: hidden;

	.hero--stars {
		.stars {
			@include star-template($numStarOneStars, 1px, $starOneScrollDuration);
		}
		.stars2 {
			@include star-template($numStarTwoStars, 2px, $starTwoScrollDuration);
		}
		// .stars3 {
		// 	@include star-template($numStarThreeStars, 5px, $starThreeScrollDuration);
		// 	opacity: 0.4;
		// }
	}

	@keyframes rotate--planets {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(359deg);
		}
	}

	@keyframes rotate--planets-1 {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(359deg);
		}
	}

	@keyframes beat {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.14);
		}
		100% {
			transform: scale(1);
		}
	}

	.hero--animation-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		align-items: center;
		justify-items: center;
		margin-top: 70px;

		.planets-1, .planets-2, .planets-3 {
			grid-row: 1 / 2;
			grid-column: 1 / 2;
			transition: all ease-in-out;
		}

		.hero--text {
			grid-row: 1 / 2;
			grid-column: 1 / 2;
			width: 550px;
			height: 550px;
			z-index: 8;
			display: flex;
			align-items: center;
			justify-content: center;

			.text {
				width: 75%;
				animation: beat 10s infinite linear;
			}
		}

		.ring--1 {
			grid-row: 1 / 2;
			grid-column: 1 / 2;
			transition: all ease-in-out;
			animation: rotate--planets-1 30s infinite linear;
			width: 550px;
			height: 550px;
			z-index: 7;

			display: grid;
			grid-template-columns: repeat(15, 1fr);
			grid-template-rows: repeat(15, 1fr);

			.planets--holder {
				grid-column: 1 / 16;
				grid-row: 1 / 16;

				.planets {
					// transform: scale(1.13);
				}
			}

			.jupiter--wrapper {
				// width: 80px;
				// height: 80px;
				grid-row: 14 / 16;
				grid-column: 5 / 7;
				display: flex;
				align-items: center;
				justify-content: center;
				// margin-left: 32px;
				transform: translateY(-20px) translateX(7px) scale(1.24);

				.jupiter {
					// transform: scale(1.3) translateY(10px);
					width: 100%;
					animation: rotate--planets-1 30s infinite linear;
				}
			}

			.saturn--wrapper {
				// width: 80px;
				// height: 80px;
				grid-column: 13 / 15;
				grid-row: 4 / 6;
				display: flex;
				align-items: center;
				justify-content: center;
				// margin-left: 32px;
				transform: translateY(-12px) translateX(-15px) scale(0.7);

				.saturn {
					// transform: scale(1.3) translateY(10px);
					width: 100%;
					animation: rotate--planets-1 30s infinite linear;
				}
			}
		}

		.ring--2 {
			grid-row: 1 / 2;
			grid-column: 1 / 2;
			transition: all ease-in-out;
			animation: rotate--planets-1 15s infinite linear;
			width: 380px;
			height: 380px;
			display: grid;
			grid-template-columns: repeat(15, 1fr);
			grid-template-rows: repeat(15, 1fr);
			z-index: 6;

			.planets--holder {
				grid-column: 1 / 16;
				grid-row: 1 / 16;

				.planets {
					transform: scale(1.13);
				}
			}

			.mars--wrapper {
				// width: 80px;
				// height: 80px;
				grid-row: 2 / 4;
				grid-column: 3 / 5;
				display: flex;
				align-items: center;
				justify-content: center;
				// margin-left: 32px;
				transform: translateY(0px) translateX(0px) scale(1);

				.mars {
					width: 100%;
					animation: rotate--planets-1 30s infinite linear;
				}
			}

			.earth--wrapper {
				// width: 80px;
				// height: 80px;
				grid-column: 13 / 15;
				grid-row: 12 / 14;
				display: flex;
				align-items: center;
				justify-content: center;
				// margin-left: 32px;
				transform: translateY(10px) translateX(-2px) scale(1.1);

				.earth {
					// transform: scale(1.3) translateY(10px);
					width: 100%;
					animation: rotate--planets-1 30s infinite linear;
				}
			}
		}

		.ring--3 {
			grid-row: 1 / 2;
			grid-column: 1 / 2;
			transition: all ease-in-out;
			animation: rotate--planets-1 12s infinite linear;
			width: 270px;
			height: 270px;
			display: grid;
			grid-template-columns: repeat(15, 1fr);
			grid-template-rows: repeat(15, 1fr);
			z-index: 5;

			.planets--holder {
				grid-column: 1 / 16;
				grid-row: 1 / 16;

				.planets {
					transform: scale(1.11);
				}
			}

			.mercury--wrapper {
				// width: 80px;
				// height: 80px;
				grid-row: 11 / 12;
				grid-column: 1 / 3;
				display: flex;
				align-items: center;
				justify-content: center;
				// margin-left: 32px;
				transform: translateY(0px) translateX(0px) scale(1);

				.mercury {
					width: 100%;
					animation: rotate--planets-1 30s infinite linear;
				}
			}

			.venus--wrapper {
				// width: 80px;
				// height: 80px;
				grid-column: 10 / 12;
				grid-row: 1 / 3;
				display: flex;
				align-items: center;
				justify-content: center;
				// margin-left: 32px;
				transform: translateY(0px) translateX(-2px) scale(1);

				.venus {
					// transform: scale(1.3) translateY(10px);
					width: 100%;
					animation: rotate--planets-1 30s infinite linear;
				}
			}
		}


		.ring--4 {
			grid-row: 1 / 2;
			grid-column: 1 / 2;
			transition: all ease-in-out;
			animation: rotate--planets-1 50s infinite linear;
			width: 330px;
			height: 330px;
			display: grid;
			grid-template-columns: repeat(15, 1fr);
			grid-template-rows: repeat(15, 1fr);
			z-index: 4;

			.sparkle-ring {
				grid-column: 1 / 16;
				grid-row: 1 / 16;

				.sparkle {
					transform: scale(1.17);
				}
			}
		}

		.purple-bg {
			grid-row: 1 / 2;
			grid-column: 1 / 2;
			width: 550px;
			height: 550px;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 3;
			opacity: 0.9;
			// transform: scale(0.95) translateX(-3px);

			.bg {

			}
		}

		.planets-2 {
			height: 400px;
			border: 1px solid green;
			border-radius: 250px;
			// animation: rotate--planets 14s infinite linear;
			animation-delay: 2s;
		}

		.planets-1 {
			height: 300px;
			border: 1px solid blue;
			border-radius: 250px;
			// animation: rotate--planets 8s infinite linear;
		}


	}
}


@media (max-width: 768px) {
	.hero--intro {
		.hero--animation-container {
			transform: scale(0.9);
		}
	}
}

@media (max-width: 540px) {
	.hero--intro {
		.hero--animation-container {
			transform: scale(0.6);
		}
	}
}