.title--container {
	display: grid;
	max-width: 300px;
	grid-template-columns: 50px 1fr 50px;
	grid-template-rows: 1fr;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 20px;

	.package--line {
		line-height: 18px;
	}

	.package {
		display: block;
		font-size: 12px;
		opacity: 0.5;
	}
}

.sponsors--container {
	background-size: 200px, 140px, 170px, 120px, 180px, 130px, 140px;
	background-repeat: no-repeat;
	background-position: 0% 20%, 15% 45%, 0% 70%, 15% 90%, 100% 20%, 85% 55%, 100% 80%;
}

.sponsors-logo-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	.sponsor {
		img {
			max-width: 240px;
			width: 100%;
			// height: auto !important;
			transition: 0.2s all ease-in-out;

			&:hover {
				transform: scale(1.02);
			}
		}

		&.medium {
			img {
				// height: 80px;
				max-width: 310px;
			}
		}
	}

	&.venus--sponsors {
		.sponsor {
			img {
				// height: 90px;
			}
			&.medium {
				img {
					// height: 70px;
				}
			}
		}
	}

	&.earth--sponsors {
		.sponsor {
			img {
				// height: 90px;
				max-width: 180px;
			}
		}
	}

	&.mars--sponsors {
		.sponsor {
			img {
				// height: 90px;
				max-width: 200px;
			}

			&.large--high {
				img {
					height: 150px;
					max-width: auto;
				}
			}

			&.small {
				img {
					max-width: 180px;
				}
			}
		}
	}

	&.jupiter--sponsors {
		.sponsor {
			img {
				// height: 90px;
				max-width: 200px;
			}

			&.small {
				img {
					// height: 70px;
					max-width: 100px;
				}
			}
		}
	}

	&.saturn--sponsors {
		.sponsor {
			img {
				max-width: 200px;
			}

			&.small {
				img {
					max-width: 220px;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.sponsors--container {
		background-image: none !important;
	}

	.sponsors-logo-wrapper {
		&.venus--sponsors {
			.sponsor {
				img {
					max-width: 170px;
				}
	
				&.medium {
					img {
						// height: 70px;
					}
				}
			}
		}
		&.earth--sponsors {
			.sponsor {
				img {
					max-width: 120px;
				}
			}
		}
		&.mars--sponsors {
			.sponsor {
				img {
					// height: 90px;
					max-width: 100px;
				}
	
				&.large--high {
					img {
						height: 100px;
						width: auto;
					}
				}
	
				&.small {
					img {
						max-width: 130px;
					}
				}
			}
		}
		&.jupiter--sponsors {
			.sponsor {
				&.small {
					img {
						max-width: 80px;
					}
				}
			}
		}

		&.saturn--sponsors {
			.sponsor {
				img {
					max-width: 200px;
				}

				&.small {
					img {
						max-width: 170px;
					}
				}
			}
		}
	}

}