.space--footer {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	overflow: hidden;
	height: 500px;

	.footer--bg-1 {
		display: flex;
		align-items: flex-end;
		width: 100%;
		grid-column: 1 / 3;
		grid-row: 1 / 9;
		z-index: 1;
		background: radial-gradient(circle, rgba(47, 32, 82, 1) 35%, rgba(25, 16, 41, 1) 100%);

		img {
			width: 100%;
			transform: scale(1.01);
		}
	}

	.footer--wave {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
		z-index: 2;
		transform: translateY(-1px);
	}

	.footer--stars {
		grid-column: 1 / 3;
		grid-row: 1 / 7;
		position: relative;
		z-index: 1;


		.stars {
			@include star-template($numStarOneStars, 1px, $starOneScrollDuration);
		}

		.stars2 {
			@include star-template($numStarTwoStars, 2px, $starTwoScrollDuration);
		}

		.stars3 {
			@include star-template($numStarThreeStars, 3px, $starThreeScrollDuration);
		}
	}

	.footer--bg-2 {
		// overflow: hidden;
		display: grid;
		align-items: flex-start;
		width: 100%;
		grid-column: 1 / 3;
		grid-row: 3 / 9;
		z-index: 3;
		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: repeat(4, 1fr);

		.moon {
			grid-row: 1 / 5;
			grid-column: 1 / 11;
		}

		.spaceman {
			width: 300px;
			position: relative;
			transform: translateY(-50px);
			z-index: 4;
			grid-row: 1 / 2;
			grid-column: 8 / 9;
		}
	}

	.footer--bg-bottom {
		grid-column: 1 / 3;
		grid-row: 6 / 9;
		background: #D9D9D9;
		z-index: 2;
	}

	.footer--content {
		grid-column: 1 / 3;
		grid-row: 4 / 9;
		z-index: 3;
		width: 100%;
		text-align: center;
		align-items: end;
		// margin-top: 50px;
		// display: none;


		.footer-logo {
			width: 50px;
			margin: 0 auto;
		}

		.mscc--text {
			text-transform: uppercase;
			font-family: var(--font-astronomous);
			// font-weight: 900;
			font-size: 18px;
			margin-top: 15px;
			// text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
		}

		.social--icons {
			display: flex;
			justify-content: center;
			margin: 20px 0 30px;

			.icon {
				margin-right: 20px;
				background: rgb(253 206 0 / var(--tw-text-opacity));
				height: 32px;
				width: 32px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 20px;

				img {
					height: 13px;;
				}
			}
		}

		.list--menu {
			margin-top: 20px;

			ul, li {
				list-style-type: none;
				list-style-image: none;
				display: inline-block;
			}

			li {
				margin-right: 20px;

				a {
					text-transform: uppercase;
					font-family: var(--font-spotnik);
					font-weight: 500;
					font-size: 12px;
					background: black;
					color: white;
					display: inline-block;
					// padding: 10px 20px;
					height: 35px;
					width: 170px;
					border-radius: 3px;
					display: flex;
					align-items: center;
					justify-content: center;

					&:hover {
						// text-decoration: underline;
						background: rgb(253 206 0 / var(--tw-text-opacity));
						color:black;
					}
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	.space--footer {
		height: 500px;

		.footer--bg-1 {
			height: 700px;
		}
		.footer--bg-2 {
			grid-row: 3 / 9;

		}
		.footer--bg-bottom {
			grid-row: 4 / 9;
		}
		.footer--content {
			margin-top: 0;
		}
	}
}

@media (max-width: 768px) {
	.space--footer {
		height: auto;

		.footer--bg-1 {
		}

		.footer--bg-2 {
			.spaceman {
				grid-row: 1 / 2;
				grid-column: 8 / 10;
				transform: translateY(-70px);
			}
		}

		.footer--content {

			.list--menu {
				ul {
					display: block;

					li {
						display: flex;
						align-items: center;
						justify-content: center;
						margin-bottom: 15px;
					}
				}
			}

			.mscc--text {
				font-size: 16px;;
			}
		}
	}
}

@media (max-width: 500px) {
	.space--footer {
		height: 500px;
		grid-auto-rows: 1fr 1fr 1fr 1fr;

		.footer--bg-1 {}

		.footer--bg-2 {
			grid-row: 3 / 9;
			transform: translateY(-40px);

			.spaceman {
					transform: translateY(-40px);
				}
		}
		.footer--bg-bottom {
			grid-row: 3 / 9;
		}
		.footer--content {
			grid-row: 3 / 9;

			.mscc--text {
				font-size: 16px;
				;
			}
		}
	}
}