.space--footer {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	overflow: hidden;
	height: 480px;

	.footer--bg-1 {
		display: flex;
		align-items: flex-end;
		width: 100%;
		grid-column: 1 / 3;
		grid-row: 1 / 7;
		z-index: 1;
		background-repeat: no-repeat;
		background-position: top center;
		background-size: 101%;

		img {
			width: 100%;
			transform: scale(1.01);
		}
	}

	.footer--stars {
		grid-column: 1 / 3;
		grid-row: 1 / 7;
		position: relative;
		z-index: 1;


		.stars {
			@include star-template($numStarOneStars, 1px, $starOneScrollDuration);
		}

		.stars2 {
			@include star-template($numStarTwoStars, 2px, $starTwoScrollDuration);
		}

		.stars3 {
			@include star-template($numStarThreeStars, 3px, $starThreeScrollDuration);
		}
	}

	.footer--bg-2 {
		display: flex;
		align-items: flex-end;
		width: 100%;
		grid-column: 1 / 3;
		grid-row: 3 / 7;
		z-index: 2;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		img {
			width: 100%;
			transform: scale(1.01);
		}
	}

	.footer--content {
		grid-column: 1 / 3;
		grid-row: 4 / 7;
		z-index: 3;
		width: 100%;
		text-align: center;
		margin-top: 50px;


		.footer-logo {
			width: 50px;
			margin: 0 auto;
		}

		.mscc--text {
			text-transform: uppercase;
			font-family: var(--font-astronomous);
			font-size: 18px;
			margin-top: 15px;
			text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
		}

		.list--menu {
			margin-top: 20px;

			ul, li {
				list-style-type: none;
				list-style-image: none;
				display: inline-block;
			}

			li {
				margin-right: 20px;

				a {
					text-transform: uppercase;
					font-family: var(--font-spotnik);
					font-weight: 700;
					font-size: 12px;
					background: black;
					color: white;
					display: inline-block;
					padding: 10px 20px;
					height: 32px;
					border-radius: 4px;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

@media (max-width: 1024px) {

	.space--footer {
		height: 400px;

		.footer--bg-1 {
		}
	
		.footer--bg-2 {
			grid-row: 2 / 7;
		}

		.footer--content {
			margin-top: 0;
		}
	}
}

@media (max-width: 414px) {

	.space--footer {
		// height: 400px;

		.footer--bg-1 {
			background-size: cover;
		}

		.footer--bg-2 {
			// grid-row: 2 / 7;
		}

		.footer--content {
			// margin-top: 0;

			.mscc--text {
				font-size: 16px;;
			}
		}
	}
}