$starFieldWidth: 2560;
$starFieldHeight: 2000;
$starStartOffset: 600px;

$starOneScrollDuration: 75s;
$starTwoScrollDuration: 125s;
$starThreeScrollDuration: 175s;
$numStarOneStars: 1700;
$numStarTwoStars: 700;
$numStarThreeStars: 200;
$width: 100%;

// https: //codepen.io/dannyrb/pen/ORqvey

// n is number of stars required
@function multiple-box-shadow ($n) {
	// First star
	$stars: "#{random($starFieldWidth)}px #{random($starFieldHeight)}px #FFF";

	@for $i from 2 through $n {
		// Iterate through and append stars to string
		$stars: "#{$stars} , #{random($starFieldWidth)}px #{random($starFieldHeight)}px #FFF";
	}

	// Return all generated stars
	@return unquote($stars);
}


@mixin star-template($numStars, $starSize, $scrollSpeed) {
	z-index: 10;
	width: $starSize;
	height: $starSize;
	border-radius: $starSize;
	background: transparent;
	box-shadow: multiple-box-shadow($numStars);
	animation: animStar $scrollSpeed linear infinite;

	&:after {
			content: " ";
			top: -$starStartOffset;
			width: $starSize;
			height: $starSize;
			position: absolute;
			background: transparent;
			box-shadow: multiple-box-shadow($numStars);
			border-radius: $starSize;
	}
}


@keyframes animStar {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-#{$starFieldHeight}px);
	}
}